@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.form {
  input {
    &.is-focus {
      + label {
        top: 4px;
        font-size: 12px;
      }
    }
  }
}

.tabs {
  button {
    transition: 0.3s;

    &.active,
    &:hover {
      background: #ddd;
    }
  }
}

.myTabContent {

}